@using RSApp.Core.Services.ViewModels.SaveVm;
@model SavePropertyVm;

@{
  ViewData["Title"] = "Create Property";
}

<div class="row text-lg">
  <div class="col-md-5">
    <h2 class="text-3xl mb-3">Create property</h2>
  @if (Model.HasError)
    {
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>@Model.ErrorMessage</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    }

  @if(Model.Types.Count() == null || Model.Types.Count() == 0){
    <div class="alert alert-danger" role="alert">
      No Property types Created, please contact an admin
    </div>
    
  }else if(Model.Sales.Count() == null || Model.Sales.Count() == 0) {
    <div class="alert alert-danger" role="alert">
      No Sales types Created, please contact an admin
    </div>
  }else{
  <form asp-action="Create" asp-controller="Property" enctype="multipart/form-data">
    <div class="form-group mb-3">
      <label asp-for="ImageFile" class="control-label">Potrait</label>
      <input asp-for="ImageFile" class="form-control" required/>
      <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="ImageFiles" class="control-label">Secondary images</label>
      <input asp-for="ImageFiles" class="form-control" multiple/>
      <span asp-validation-for="ImageFiles" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="Description" class="control-label"></label>
      <input asp-for="Description" class="form-control" />
      <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="Price" class="control-label"></label>
      <input asp-for="Price" class="form-control" type="number" />
      <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="Area" class="control-label"></label>
      <input asp-for="Area" class="form-control" type="number"/>
      <span asp-validation-for="Area" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="Rooms" class="control-label"></label>
      <input asp-for="Rooms" class="form-control" type="number"/>
      <span asp-validation-for="Rooms" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="Bathrooms" class="control-label"></label>
      <input asp-for="Bathrooms" class="form-control" type="number"/>
      <span asp-validation-for="Bathrooms" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="TypeId" class="control-label"></label>
      <select asp-for="TypeId" class="form-control">
        <option value="">Select Type</option>
        @foreach (var type in Model.Types)
        {
          <option value="@type.Id">@type.Name</option>
        }
      </select>
    </div>
    <div class="form-group mb-3">
      <label asp-for="SaleId" class="control-label"></label>
      <select asp-for="SaleId" class="form-control">
        <option value="">Select Type</option>
        @foreach (var sale in Model.Sales)
        {
          <option value="@sale.Id">@sale.Name</option>
        }
      </select>
    </div>
    <div class="btn-group mb-3 col-12">
      <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary w-full">Back</a>
      <input type="submit" class="btn w-25 btn-outline-success w-100" value="Create" />
    </div>
  </form>
  }
  </div>
</div>
